body {
    font-family: 'Roboto Mono', monospace;
    min-height: 854px;
    background-color: #000000;
    background-size: center;
    background-position: center top;
    background-repeat: repeat;
    padding-bottom: 20vh;
   background-image: url('https://i.pinimg.com/originals/a1/d2/55/a1d2551f6f2f4277f357b505d4dd3904.jpg');
}

.page-logo{
  width:300px;
  
}
.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: white;
    background-color:black;
    margin: 0px 0;
    font-style:"Bayformance";
    align-items: flex-end;
}

button, .button-jogar {
    padding: .8rem 1.5rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    
    font-size: 1rem;
    background-color:black;
    color:white;
}

h2 {
    color: red;
    background-color:black;
    font-family:" Myriad";
}

#carta-jogador, #carta-maquina {
    width: 360px;
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: 350px 400px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 8px;
    border-radius: 33px;

}

#carta-jogador h3 {
    text-align: center;
 
}

.carta-imagem {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
    
}

.carta-imagem img {
    width: 100%;
    height: 100%;
}

.carta-status {
    height: 160px;
    width:400px;
    margin: 0.5rem;
    color: white;
    z-index: 2;
    background-color: black;
    text-align: left;
   font-style:"Bayformance";
}

.carta-status input {
    margin: 15px 10px;
  
}

.resultado-final {
    color: white;
    font-size: 25px;
    font-weight: bolder;
   
    background-color: black;
    font-style:"Bayformance";
    align-items: center;
    
}

.--spacing {
    margin-left: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
    font-style:"Bayformance";
    font-size: 18px;
 
}

.wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
  
}

.carta-subtitle {
    z-index: 2;
    position: absolute;
    top: 1px;
    left: 37px;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    background-color:black;
    font-size:18px;
    font-style:"Bayformance";
   
 
}

#cartas {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-style:"Bayformance";
}

.carta-status p {
    margin-bottom: 2rem;
    
}