body {
  font-family: 'Roboto Mono',monospace;
  text-align:center;
  background-image: url('https://wallpaperaccess.com/full/2063918.jpg');
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.imagem {
  display: inline;
	justify-content: center;
  align-items: center;
	width: auto;
	height: auto;
 	margin:5px;

 }

.container {
  text-align: center;
  padding: 20px;
}
h2 {
      color: #ffffff;
      width: 90vw;
      margin-left: auto;
      margin-right: auto;
      font-size: 25px;
      font-weight: bold;  
     
}

.page-title {
   margin: 0 0 5px;
 }

.page-subtitle {
  color: white;
 margin-top:1px
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 30px;
  right:20px;
}
body > img {
  margin: 0 10px;
  margin-top:5px;
}
